//placeholder
%strctureContent {
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}

// SINTAXIS DE SASS
section {
  background-color: #ccc;
  padding: 20px;
}
.container {
  @extend %strctureContent; // asi  se extenderia de un placeholder para implementarlo
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  .sidebar {
    @extend %strctureContent;
    background-color: #ccc;
    list-style: none;
    li {
      display: inline-block;
      border: solid 1px black;
    }
  }
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #0000ff;
  color: white;
  cursor: pointer;
  &:hover {
    background: darken($color: #000000, $amount: 0);
  }
  .sidebar & {
    background: green;
    padding: 5px 15px;
    &:hover {
      background: orange;
    }
  }
}
